html {
    font-family: 'Trebuchet MS', Arial, sans-serif, Arial, Helvetica, sans-serif;
    color: #021b0f;
}
a {
    color: #05a88d;
}
a:visited {
    color: #05a88d;
}
a:hover {
    color: #064137;
}
body > header {
    grid-area: h;
}
body > main {
    grid-area: m;
}

body > aside {
    grid-area: a;
}
body > footer {
    grid-area: f;
}
body {
    display: grid;
    grid-template-areas:
    "h h h h h h h"
    ". m m m a a ."
    "f f f f f f f"
    ;
    grid-gap: 1rem;
    background-color: rgb(237, 245, 245);
}
body > * {
    padding: 1rem;
    background-color: rgb(246, 248, 250);
}


.post {
    border-top: 1px solid rgb(246, 248, 250);
    border-bottom: 1px solid rgb(241, 245, 245);
    padding: 1rem;
}
