{% extends 'base.html' %}

{% block title %}Add User{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

        
        <h1>User List</h1>
        <br />
        {% for user in our_users %}
            {{ user.id }}. <a href="{{ url_for('update', id=user.id) }}" title="update">{{ user.name }}</a> - {{ user.email }} - {{ user.username }} - {{ user.favorite_color }} - <a href="{{ url_for('delete', id=user.id) }}">[delete]</a>
            <br />
        {% endfor %}
        <h2>Create New User</h2>
        <form method="POST">
            <div class="form-container">

                {{ form.hidden_tag() }}
                
                <div class="form-label">{{ form.name.label}}</div>
                <div class="form-field">{{ form.name() }}</div>
                

                <div class="form-label">{{ form.username.label}}</div>
                <div class="form-field">{{ form.username() }}</div>
                
                
                <div class="form-label">{{ form.email.label}}</div>
                <div class="form-field">{{ form.email() }}</div>
                
                
                <div class="form-label">{{ form.password_hash.label}}</div>
                <div class="form-field">{{ form.password_hash() }}</div>
                
                
                <div class="form-label">{{ form.password_hash_confirm.label}}</div>
                <div class="form-field">{{ form.password_hash_confirm() }}</div>
                
                
                <div class="form-label">{{ form.favorite_color.label}}</div>
                <div class="form-field">{{ form.favorite_color() }}</div>
                
                <div class="form-field">{{ form.submit(class='submit') }}</div>
                
                
                
            </div>
        </form>
        <hr />
        
    

{% endblock %}