{% extends 'base.html' %}


{% block title %}Add User{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    
        <h1>Create Post</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-container">
                <div class="form-label">
                    {{ form.title.label}}
                </div>
                <div class="form-field">
                    {{ form.title() }}
                </div>
                <div class="form-label">
                    {{ form.slug.label}}
                </div>
                <div class="form-field">
                    {{ form.slug() }}
                </div>
                <div class="form-label">
                    {{ form.content.label}}
                </div>
                <div class="form-field">
                    {{ form.content() }}
                </div>
                <div class="form-field">
                    {{ form.submit(class='submit') }}
                </div>
            </div>    
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content')}}


{% endblock %}