{% extends 'base.html' %}

{% block title %}Update post{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
            <br />
            <a href="{{ url_for('post', slug=post_to_update.slug) }}">view your post</a>
        </div>
    {% endfor %}


    <h1>Update post</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-container">
            <div class="form-label">
                {{ form.title.label}}
            </div>
            <div class="form-field">
                {{ form.title(value=post_to_update.title) }}
            </div>
            <div class="form-label">
                {{ form.slug.label}}
            </div>
            <div class="form-field">
                {{ form.slug(value=post_to_update.slug) }}
            </div>
            <div class="form-label">
                {{ form.content.label}}
            </div>
            <div class="form-field">
                <textarea name="content" id="content">{{ post_to_update.content }}</textarea>
            </div>
            <div class="form-field">
                {{ form.submit(class="submit") }}
            </div>
        </div>

    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content')}}


{% endblock %}