{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert">    
            {{ message }}
        </div>
    {% endfor %}

 
    <h1>Login</h1>
    <br />
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-container">
            <div class="form-label">
                {{ form.username.label}}
            </div>
            <div class="form-field">
                {{ form.username() }}
            </div>
            <div class="form-label">
                {{ form.password.label }}
            </div>
            <div class="form-field">
                {{ form.password() }}
            </div>
            <div class="form-field">
                {{ form.submit(class='submit') }}
            </div>
        </div>
            
    </form>


{% endblock %}