{% extends 'base.html' %}

{% block title %}All Posts {% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}


    {% for post in posts %}

        <div class="post">
            <h2>
                {{ post.title }}
            </h2>
            <small>
                {{ post.date_posted }} by {{ post.author }}
            </small>
            <hr>
            <p>
                {{ post.content|safe }}
            </p>
            <a href="{{ url_for('post', slug=post.slug) }}">read</a>
            <a href="{{ url_for('edit', slug=post.slug) }}">edit</a>
            <a href="{{ url_for('delete_post', slug=post.slug) }}">delete</a>
        </div>

    {% endfor %}
{% endblock %}