{% extends 'base.html' %}

{% block title %}All Posts {% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}


    {% for post in posts %}

        <div class="post">
            <h2>
                {{ post.title }}
            </h2>
            <small>
                Posted on {{ post.date_posted }} by {{ post.poster.name }}
            </small>
            <br>
            <a href="{{ url_for('post', slug=post.slug) }}">read</a>
            
            {# show this only if current user is the poster #}
            {% if post.poster.id==current_user.id %}
            <a href="{{ url_for('edit', slug=post.slug) }}">edit</a>
            <a href="{{ url_for('delete_post', slug=post.slug) }}">delete</a>
            {% endif %}
        </div>
        <hr>

    {% endfor %}
{% endblock %}