{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% if id==current_user.id %}
    <h1>Update User</h1>
    <br />
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-container">
            <div class="form-label">{{ form.name.label}}</div>
            
            <div class="form-field">{{ form.name(value=user_to_update.name) }}</div>
            <div class="form-label">{{ form.email.label}}</div>
            <div class="form-field">{{ form.email(value=user_to_update.email) }}</div>
            <div class="form-label">{{ form.username.label}}</div>
            <div class="form-field">{{ form.username(value=user_to_update.username) }}</div>
            <div class="form-label">{{ form.favorite_color.label}}</div>
            <div class="form-field">{{ form.favorite_color(value=user_to_update.favorite_color) }}</div>
            <div class="form-label">{{ form.about_author.label}}</div>
            <div class="form-field"><textarea name="about_author" id="about_author">{{ user_to_update.about_author }}</textarea></div>
            <div class="form-field">{{ form.submit(class="submit") }}</div>
        </div>
        
        
        
        <a href="{{ url_for('delete', id=user_to_update.id )}}">[delete]</a>
        
    </form>

    {% else %}
        I:{{id}} <br> curr: {{current_user.id}}
        You are not authorized to do this action
    {% endif %}


{% endblock %}