{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    {% if name %}
        <h1>Update User</h1>
        {% for user in our_users %}
            {{ user.id}}. {{ user.name}} - {{ user.email }} - favorite color: {{ user.favorite_color }}
            <br />
        {% endfor %}
    {% else %}
        <h1>Update User</h1>
        <br />
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label}}
            {{ form.name(value=user_to_update.name) }}
            {{ form.email.label}}
            {{ form.email(value=user_to_update.email) }}
            {{ form.favorite_color.label}}
            {{ form.favorite_color(value=user_to_update.favorite_color) }}
            {{ form.submit() }}
            <a href="{{ url_for('delete', id=id )}}">[delete]</a>
        </form>
    {% endif %}

{% endblock %}